body {
    background-color: black;
    font-family: circular-bold;
}

h1 {
    color: white;
}

.search-form {
    width: 1000px;
    height: 50px;;
    border-radius: 3px;
    box-sizing: border-box;
    margin-right: 1px;
    margin-top: 6px;
    margin-bottom: 0px;
    resize: none;
    border: none;
    background: #151515;
    font-family: circular-bold;
    font-size: 11pt;
    color: white;
    padding-left: 10px;
}

#result {

}

.title {
    position: relative;
    left: 20px;
    color: #e38f0e;
}

.poster {
    float: left;
}

.genre-year {
    color: #808080;
    position: relative;
    left: 20px;
}


.plot {
    font-size: 16pt;
    color: white;
    width: 750px;
    position: relative;
    left: 20px;
}

.stars {
    color: #e38f0e;
    position: relative;
    left: 20px;
}

.stars span {
    color: #606060;
    font-size: 14pt;
}

.writers {
    color:  #e38f0e;
    position: relative;
    left: 20px;
}

.writers span {
    color: #606060;
    font-size: 14pt;
}

.director {
    color:  #e38f0e;
    position: relative;
    left: 20px;
}   

.director span {
    color: #606060;
    font-size: 14pt;
}





@font-face {
    font-family: circular-bold;
    src: url('../font/circular-bold.otf');
}
@font-face {
    font-family: circular-medium;
    src: url('../font/circular-medium.otf');
}
@font-face {
    font-family: circular-black;
    src: url('../font/circular-black.otf');
}