body {
    background-color: black;
    font-family: circular-bold;
}

.search-form {
    width: 1000px;
    height: 50px;;
    border-radius: 3px;
    box-sizing: border-box;
    margin-right: 1px;
    margin-top: 6px;
    margin-bottom: 0px;
    resize: none;
    border: none;
    background: #151515;
    font-family: circular-bold;
    font-size: 11pt;
    color: white;
    padding-left: 10px;
}

h1 {
    color: white;
}


#result {
    width: 1000px;
    height: 500px;
    /* background: rgba(0, 0, 255, 0.10); */
    padding-left: 100px;
}

#result h1,img {
    float: left;
}

#result h1{
    margin-left: 20px;
    color: #e38f0e;
}

.title p {
    color: #606060;
    font-size: 16pt;
    position: relative;
    top: 11px;
    left: 10px;
}

.genre {
    float: left;
    color: #606060;
    position: relative;
    top: -10px;
    left: 23px;
}

.plot {
    float: left;
    color: white;
    width: 500px;
    font-size: 16pt;
    position: relative;
    left: 23px;
}

.stars {
    float: left;
    color: #606060;
    position: relative;
    top: -10px;
    left: 23px;
}

.directors {
    float: left;
    color: #606060;
    position: relative;
    top: -10px;
    left: 23px;
}

.writers {
    float: left;
    color: #606060;
    position: relative;
    top: -10px;
    left: 23px;
}


@font-face {
    font-family: circular-bold;
    src: url('../font/circular-bold.otf');
}
@font-face {
    font-family: circular-medium;
    src: url('../font/circular-medium.otf');
}
@font-face {
    font-family: circular-black;
    src: url('../font/circular-black.otf');
}